body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
  border-collapse: collapse;
}

td {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
}

.larg {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}

.smol {
  height: 1rem;
  width: 1rem;
  font-size: 0.5rem;
}

.riktig {
    background-color: green;
}

.feil {
    background-color: red;
}

.poeng {
  font-size: 0.5rem;
}
